
body {
  color: #CEC9B8;
  background-image: url("stars.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
}

h1{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 45px;
  font-size: 80px;
  border-bottom-style: solid;
  border-bottom-color: #CEC9B8;
  border-top-style: solid;
  border-top-color: #CEC9B8;
}

.container{
  display: flex;
  justify-content: space-between;
  margin: 30px;

  background:rgba(206, 201, 184,0.2);
  padding : 20px;

}


#allSigns{
display: none;
}


#enterSign{
}
#choroscope{
}
#compatibility{

}
